@{
    ViewBag.Title = "Defult";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
}

<h2>Index</h2>
这里是内容
1.先用SQL SERVER数据库建立
2.系统设置为固定功能，无需重新加载
3.其他菜单，如产品之类可以自主开发
4.增加创建表，创建字段功能，增加创建主键
5.增加创建编码序列号规则功能，类似黄工的程序
6.增加用户管理
7.HTML编辑器，可以写前台
8.增加权限管控
9.增加标签，打印
10.基础控件